@mixin position-absolute-x-center {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

@mixin position-absolute-y-center {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
