.header {
	position: fixed;
	width: 100%;
	padding: 0.5rem 0;
	background-color: #fff;
	@include box-shadow(0.1);

	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.logo {
		font-size: 18px;
		color: $light-blue-color;
	}

	&__search {
		display: grid;
		display: -ms-grid;
		grid-template-columns: 1fr 1fr 1fr;
		-ms-grid-columns: 1fr 1fr 1fr;
		width: 100%;

		.form--search {
			position: relative;
			display: flex;
			flex-direction: row;
			align-items: center;
			grid-column: 2;
			-ms-grid-column: 2;
		}

		.form__control {
			border-radius: 35px;
		}

		.btn {
			position: absolute;
			right: 0;
			background-color: transparent;
			color: $placeholder-color;
		}
	}

	&__tools {
		display: flex;
		align-items: center;

		.btn--login {
			color: $light-blue-color;
		}

		.cart {
			position: relative;
			display: flex;
			font-size: 1.5rem;
			color: $light-blue-color;

			&__count {
				position: absolute;
				top: -0.25rem;
				right: -0.5rem;
				min-width: 1rem;
				height: 1rem;
				padding: 0 0.2rem;
				background-color: $danger;
				border-radius: $radius;
				font-size: 10px;
				font-weight: 500;
				color: #fff;
				text-align: center;
			}
		}
	}
}

@media (max-width: 575px) {
	.header {
		grid-template-columns: 1fr 1fr;
		-ms-grid-columns: 1fr 1fr;
		padding: 0.5rem 1rem;

		&__center {
			display: none;
		}
	}
}
