.btn {
	position: relative;
	line-height: inherit;
	min-width: 4rem;
	height: 2.25rem;
	padding: 0 1rem;
	cursor: pointer;
	user-select: none;
	color: $dark;
	border: none;
	background-color: transparent;
	@include border-radius;
	@include flex-inline-center;
	@include transition(.15s);

	

	&--full {
		width: 100%;
	}

	&-group {
		display: flex;



		& > *:not(:last-child) {
			margin-right: .5rem;
		}

		.btn {
			@include border;

			&:hover {
				border-color: rgba(#000, .2);
			}

			&:active,
			&:focus {
				border-color: $main;
			}
		}


	}

	&--icon {
		i {
				margin-right: .25rem;
				@include square(1.5rem);
				@include flex-center;
			}
	}

	&:disabled {
		@include disable;
	}
}

@each $color, $value in $theme-colors {
  .btn--#{$color} {
    @include button-variant($value);
  }
}
