.modal-open {
  padding-right: 17px;
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  background-color: rgba(#000, 0.5);

  &.show {
    display: block;
  }

  .modal-open & {
    overflow-y: auto;
  }

  &__dialog {
    width: auto;
    margin: 1.75rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: $radius;
    transform: translateY(-25%);
    animation: fade-to-bottom 0.3s ease-in-out forwards;

    @keyframes fade-to-bottom {
      from {
        opacity: 0;
      },
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }

  &__title {
    margin-bottom: 0;
    font-weight: 500;
  }

  &__close {
    display: flex;
    align-items: center;
    color: $darken !important;
  }

  &__body {
    padding: 1rem;
    border-width: 1px 0;
    border-style: solid;
    border-color: $divider;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;

    .btn:first-child {
      margin-right: 0.5rem;
    }
  }
}

@media (min-width: 576px) {
  .modal__dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }
}
