.radio {
	display: flex;
	flex-direction: column;

	&__group:not(:last-child) {
		margin-bottom: 1rem;
	}

	&__input {
		display: none;

		& + .radio__label {
			position: relative;
			display: flex;
			margin-bottom: 0;
			line-height: 1.3;
			cursor: pointer;
		}

		& + .radio__label::before {
			@include pseudo-element;
			top: 0;
			@include circle(1.125rem, 1.125rem);
			border: 1px solid $border-color;
			@include transition(0.15s);
		}

		&:checked + .radio__label::before {
			border-color: $darken;
		}

		& + .radio__label::after {
			@include pseudo-element;
			top: 3px;
			left: 3px;
			@include circle(0.75rem, 0.75rem);
			background-color: $darken;
			opacity: 0;
			transform: scale(0);
			@include transition(0.3s);
		}

		&:checked + .radio__label::after {
			opacity: 1;
			transform: scale(1);
		}

		&--primary {
			&:checked + .radio__label::before {
				border-color: $primary;
			}

			& + .radio__label::after {
				background-color: $primary;
			}
		}

		&--danger {
			&:checked + .radio__label::before {
				border-color: $danger;
			}

			& + .radio__label::after {
				background-color: $danger;
			}
		}
	}

	&__text {
		margin-left: 1.5rem;
	}
}
