.switch {
	position: relative;
	width: 40px;
	height: 20px;
	margin-bottom: 0;
	input {
		display: none;
		&:checked + .slider {
			background-color: $main;
		}
		&:checked + .slider:before {
			transform: translateX(20px);
		}
	}
	.slider {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border-radius: 20px;
		cursor: pointer;
		background-color: rgba($main, 0.3);
		transition: all 0.4s ease-in-out;
		&:before {
			@include pseudo;
			height: 16px;
			width: 16px;
			left: 2px;
			bottom: 2px;
			border-radius: 50%;
			background-color: $white;
			transition: all 0.4s ease-in-out;
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
		}
	}
}
