[data-toggle="tooltip"] {
  position: relative;

  &::before,
  &::after {
    position: absolute;
    z-index: 1070;
    opacity: 0;
    visibility: hidden;
    @include transition(0.15s);
  }

  &::before {
    content: "";
  }

  &::after {
    content: attr(data-title);
    max-width: 200px;
    padding: 0.5rem;
    color: #fff;
    line-height: 1;
    text-align: center;
    background-color: $dark-bg;
    border-radius: $radius;
  }

  &:hover::before,
  &:hover::after {
    opacity: 1;
    visibility: visible;
  }

  &[data-placement="right"] {
    &::before,
    &::after {
      top: 50%;
      transform: translateY(-50%);
    }

    &::before {
      left: calc(100% + 0.625rem);
      border-top: 0.4rem solid transparent;
      border-bottom: 0.4rem solid transparent;
      border-right: 0.4rem solid $dark-bg;
    }

    &::after {
      left: calc(100% + 1.025rem);
    }
  }

  &[data-placement="top"] {
    &::before,
    &::after {
      left: 50%;
      transform: translateX(-50%);
    }

    &::before {
      bottom: calc(100% + 0.125rem);
      border-top: 0.4rem solid lighten($background, 5%);
      border-left: 0.4rem solid transparent;
      border-right: 0.4rem solid transparent;
    }

    &::after {
      bottom: calc(100% + 0.525rem);
    }
  }
}
