@import url(https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i);* {
  outline: none !important;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

@-ms-viewport {
  width: device-width;
}

article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #34495e;
  text-align: left;
  background-color: #fff;
}

[tabindex="-1"]:focus {
  outline: 0 !important;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul,
dl {
  list-style: none;
  margin: 0;
  padding: 0;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

dfn {
  font-style: italic;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

a {
  color: #7285A5;
  text-decoration: none;
  background-color: transparent;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  color: #4C516D;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar;
}

figure {
  margin: 0 0 1rem;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

table {
  border-collapse: collapse;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
  cursor: pointer;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

.btn {
  display: inline-block;
  min-width: 4rem;
  height: 2.25rem;
  line-height: 2.25rem;
  padding: 0 1rem;
  border: 0;
  border-radius: 0.25rem;
  white-space: nowrap;
  text-align: center;
  text-transform: capitalize;
  color: #fff !important;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.btn:not(:disabled) {
  cursor: pointer;
}

.btn:disabled {
  pointer-events: none;
  opacity: 0.65;
}

.btn.btn--raised {
  -webkit-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.btn.btn--raised:hover {
  -webkit-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.btn--primary {
  background-color: #3498db;
}

.btn--primary:hover {
  background-color: #419fdd;
}

.btn--primary:active {
  background-color: #2791d9;
}

.btn--danger {
  background-color: #eb3b5a;
}

.btn--danger:hover {
  background-color: #ec4966;
}

.btn--danger:active {
  background-color: #ea2d4e;
}

.btn--secondary {
  background-color: #7f8c8d;
}

.btn--secondary:hover {
  background-color: #879394;
}

.btn--secondary:active {
  background-color: #778586;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  border-radius: 0.25rem;
  -webkit-box-shadow: 0 0 2rem 0.0625rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 2rem 0.0625rem rgba(0, 0, 0, 0.1);
  min-height: 100vh;
}

.card__header,
.card__footer {
  padding: 0.75rem 1.5rem;
}

.card__header {
  border-bottom: 1px solid #e9ecef;
}

.card__body {
  padding: 1.5rem;
}

.card__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #e9ecef;
}

@media (max-width: 575px) {
  .card__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.dropdown {
  position: relative;
}

.dropdown--show .dropdown__toggle {
  color: #4C516D;
}

.dropdown__arrow::after {
  content: '';
  display: inline-block;
  margin-left: 0.25rem;
  vertical-align: middle;
  border-top: 0.25rem solid;
  border-right: 0.25rem solid transparent;
  border-left: 0.25rem solid transparent;
}

.dropdown__menu {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1;
  min-width: 10rem;
  padding: 0.5rem 0;
  border-radius: 0.25rem;
  background-color: #fff;
  display: none;
  -webkit-box-shadow: 0 0 2rem 0.0625rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 2rem 0.0625rem rgba(0, 0, 0, 0.15);
}

.dropdown__menu--show {
  display: block;
}

.dropdown__item {
  display: block;
  padding: 0.5rem 1.5rem;
}

.dropdown__divider {
  margin: 0.5rem 0;
  border-top: 1px solid #e9ecef;
}

.dropdown__divider.dropdown__divider--top {
  margin: 0.5rem 0 0;
}

.dropdown__divider.dropdown__divider--bottom {
  margin: 0 0 0.5rem;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pagination__item.active .pagination__link {
  color: #fff;
  background-color: #00b894;
  pointer-events: none;
  cursor: auto;
}

.pagination__item.disabled .pagination__link {
  opacity: 0.65;
  pointer-events: none;
  cursor: auto;
}

.pagination__link {
  display: block;
  min-width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  padding: 0 1rem;
  text-align: center;
  border-radius: 0.25rem;
  color: #2c3e50;
}

.pagination__link:hover {
  color: #00b894;
}

@media (max-width: 575px) {
  .pagination {
    margin-top: 1.5rem;
  }

  .pagination__item:not(.active) {
    display: none;
  }

  .pagination__item:first-child,
  .pagination__item:last-child {
    display: block;
  }
}

table {
  width: 100%;
}

table tbody tr {
  -webkit-animation: opacity 0.3s ease-in-out;
          animation: opacity 0.3s ease-in-out;
}

@-webkit-keyframes opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

table th,
table td {
  padding: 0.75rem;
  white-space: nowrap;
}

table th {
  text-transform: uppercase;
}

.table-responsive {
  overflow-x: auto;
}

.breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadcrumb__item.breadcrumb__item--active {
  color: #7285A5;
}

.breadcrumb__item a {
  color: #00cec9;
}

.breadcrumb__item + .breadcrumb__item::before {
  display: inline-block;
  padding: 0 0.5rem;
  color: #7285A5;
  content: "/";
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form label {
  display: block;
  font-weight: 700;
}

.form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1rem;
}

.form__control {
  width: 20rem;
}

.input {
  padding: 0.375rem 0.75rem;
  color: #34495e;
  background-color: #fff;
  border: 1px solid #bdc3c7;
  border-radius: 0.25rem;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.input::-webkit-input-placeholder {
  color: #bdc3c7;
}

.input:-ms-input-placeholder {
  color: #bdc3c7;
}

.input::-ms-input-placeholder {
  color: #bdc3c7;
}

.input::placeholder {
  color: #bdc3c7;
}

.input:focus {
  border-color: #a1aab0;
}

.checkbox {
  position: absolute;
  width: 1.125rem;
  height: 1.5rem;
  opacity: 0;
}

.checkbox + label {
  position: relative;
  top: 0.15625rem;
  cursor: pointer;
  margin-bottom: 0;
}

.checkbox + label::before {
  content: '';
  display: block;
  width: 1.125rem;
  height: 1.125rem;
  border: 1px solid #bdc3c7;
  border-radius: 0.125rem;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.checkbox:checked + label::before {
  border-color: #00cec9;
  background-color: #00cec9;
}

.checkbox + label::after {
  content: '';
  position: absolute;
  left: 0.375rem;
  top: 0.125rem;
  width: 0.375rem;
  height: 0.75rem;
  border: solid #fff;
  border-width: 0 0.125rem 0.125rem 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.checkbox:checked + label::after {
  opacity: 1;
}

.modal-open {
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  outline: 0;
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none;
}

.modal.fade .modal-dialog {
  transition: -webkit-transform 0.3s ease-out;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(0, -25%);
  transform: translate(0, -25%);
}

.modal.show .modal-dialog {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal-dialog-centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - (0.5rem * 2));
}

.modal-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}

.modal-backdrop.fade {
  opacity: 0;
}

.modal-backdrop.show {
  opacity: 0.5;
}

.modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #e9ecef;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.modal-header .close {
  padding: 1rem;
  margin: -1rem -1rem -1rem auto;
}

.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
}

.modal-body {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem;
}

.modal-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 1rem;
  border-top: 1px solid #e9ecef;
}

.modal-footer > :not(:first-child) {
  margin-left: .25rem;
}

.modal-footer > :not(:last-child) {
  margin-right: .25rem;
}

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }

  .modal-dialog-centered {
    min-height: calc(100% - (1.75rem * 2));
  }

  .modal-sm {
    max-width: 300px;
  }
}

@media (min-width: 992px) {
  .modal-lg {
    max-width: 800px;
  }
}

aside {
  width: 17rem;
  background-color: #130f40;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3.5rem 0;
}

.navbar__section {
  padding-bottom: 3rem;
}

.navbar__section:last-child {
  padding-bottom: 0;
}

.navbar__title {
  display: block;
  padding: 0 2rem 1rem;
  color: #30336b;
}

.navbar__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.75rem 2.5rem;
  color: #474787;
  -webkit-transition: padding 0.3s ease-in-out, background-color 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: padding 0.3s ease-in-out, background-color 0.15s ease-in-out, color 0.15s ease-in-out;
}

.navbar__link:hover {
  background-color: rgba(112, 111, 211, 0.1);
  color: #706fd3;
}

.navbar__link.router-link-active {
  position: relative;
  background-color: rgba(112, 111, 211, 0.1);
  color: #706fd3;
}

.navbar__link.router-link-active:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0.25rem;
  height: 100%;
  background-color: #706fd3;
}

.navbar__text {
  margin-left: 1rem;
}

@media (min-width: 992px) {
  aside {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }

  .minimize-aside aside {
    width: auto;
  }

  .minimize-aside .navbar__section {
    padding-bottom: 0;
  }

  .minimize-aside .navbar__title {
    display: none;
  }

  .minimize-aside .navbar__link {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1rem;
  }

  .minimize-aside .navbar__link.router-link-active:before {
    content: none;
  }

  .minimize-aside .navbar__text {
    display: none;
  }
}

@media (max-width: 991px) {
  aside {
    position: relative;
    z-index: 2;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    background-color: #fff;
    -webkit-box-shadow: 0 0 2rem 0.0625rem rgba(0, 0, 0, 0.15);
            box-shadow: 0 0 2rem 0.0625rem rgba(0, 0, 0, 0.15);
  }

  .show-aside aside {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

header {
  position: relative;
  padding: 0.5rem 1rem;
  background-color: #fff;
  -webkit-box-shadow: 0 0 2rem 0.0625rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 2rem 0.0625rem rgba(0, 0, 0, 0.1);
}

header .dropdown__toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5rem 1rem;
}

header .dropdown__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem 1.5rem;
}

header .dropdown__footer {
  padding: 0.5rem 1.5rem;
  text-align: center;
}

header .dropdown__footer a {
  color: #3498db;
}

header .dropdown__footer a:hover {
  text-decoration: underline;
}

.menu-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-bar__toggle,
.menu-bar__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dropdown--notification .dropdown__menu,
.dropdown--messages .dropdown__menu {
  width: 17rem;
}

.dropdown--notification .dropdown__item,
.dropdown--messages .dropdown__item {
  border-bottom: 1px solid #e9ecef;
  color: #7285A5;
}

.dropdown--notification .dropdown__item:last-of-type,
.dropdown--messages .dropdown__item:last-of-type {
  border: 0;
}

.dropdown--notification .dropdown__item:hover,
.dropdown--messages .dropdown__item:hover {
  background-color: #F6F6F6;
}

.dropdown--notification .dropdown__item.dropdown__item--new,
.dropdown--messages .dropdown__item.dropdown__item--new {
  background-color: #edf2fa;
}

.dropdown--notification .dropdown__item.dropdown__item--new:hover,
.dropdown--messages .dropdown__item.dropdown__item--new:hover {
  background-color: #E5EAF2;
}

.dropdown--notification .notification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dropdown--notification .notification__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dropdown--notification .notification__content {
  width: 14rem;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.75rem;
  white-space: nowrap;
}

.dropdown--messages .messages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dropdown--messages .messages__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dropdown--messages .messages__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dropdown--messages .messages__owner {
  font-weight: 700;
  color: #4C516D;
}

.dropdown--messages .messages__content {
  width: 10.75rem;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.75rem;
  white-space: nowrap;
}

.dropdown--messages .avatar {
  margin-right: 0.75rem;
}

.dropdown--messages .avatar img {
  width: 2.5rem;
  height: 2.5rem;
}

.dropdown--user .dropdown__toggle {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.25rem 0 0.25rem 1rem;
}

.dropdown--user .avatar {
  margin-right: 0.5rem;
}

.dropdown--user .avatar img {
  width: 2rem;
  height: 2rem;
}

.dropdown--user .dropdown__menu {
  width: 15rem;
}

@media (min-width: 992px) {
  header {
    border-top-right-radius: 0.25rem;
  }
}

@media (max-width: 991px) {
  header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
  }
}

@media (max-width: 575px) {
  .dropdown--notification,
  .dropdown--messages {
    position: inherit;
  }

  .dropdown--notification .dropdown__menu,
  .dropdown--messages .dropdown__menu {
    right: 5%;
    top: calc(100% - 0.5rem);
  }
}

main {
  min-height: 100vh;
  height: 100%;
  padding: 1.5rem;
  background: #f5f8fa;
}

@media (min-width: 992px) {
  main {
    border-bottom-right-radius: 0.25rem;
  }
}

@media (max-width: 991px) {
  main {
    margin-top: 3.5rem;
  }
}

i {
  font-size: 1.5rem;
}

.background {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: -1;
  margin-bottom: 0;
}

.background img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#app {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(100% - 17rem);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.minimize-aside .content {
  width: calc(100% - 3.5rem);
}

.avatar {
  margin-bottom: 0;
}

.avatar img {
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.badge {
  padding: 0 0.5rem;
  line-height: 1.6;
  border-radius: 0.25rem;
  font-size: 85%;
}

.badge--primary {
  color: #fff;
  background-color: #3498db;
}

.data-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.data-table__button,
.data-table__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.5rem;
}

.data-table__select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.data-table__select select {
  margin: 0 0.5rem;
}

.text-primary {
  color: #3498db;
}

.text-danger {
  color: #eb3b5a;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.close {
  position: absolute;
  top: -0.75rem;
  right: -0.75rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: #fff;
}

.close::before,
.close::after {
  content: '';
  position: absolute;
  top: 0.6875rem;
  left: 0.25rem;
  width: 1rem;
  height: 0.125rem;
  background-color: #2c3e50;
}

.close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.close:hover::before,
.close:hover::after {
  background-color: #31465a;
}

.close:active::before,
.close:active::after {
  background-color: #273646;
}

@media (min-width: 992px) {
  #app {
    padding: 3.5rem;
  }
}

@media (max-width: 991px) {
  .content {
    width: 100%;
    margin-left: -17rem;
  }
}

@media (max-width: 575px) {
  .data-table__button {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .data-table__button .btn:last-child {
    margin-top: 1.5rem;
  }

  .data-table__action {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .data-table__select {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 1.5rem;
  }
}

@font-face {
  font-family: "simple-line-icons";
  src: url(/fonts/vendor/simple-line-icons/Simple-Line-Icons.eot?f33df365d6d0255b586f2920355e94d7);
  src: url(/fonts/vendor/simple-line-icons/Simple-Line-Icons.eot?f33df365d6d0255b586f2920355e94d7) format("embedded-opentype"), url(/fonts/vendor/simple-line-icons/Simple-Line-Icons.woff2?0cb0b9c589c0624c9c78dd3d83e946f6) format("woff2"), url(/fonts/vendor/simple-line-icons/Simple-Line-Icons.ttf?d2285965fe34b05465047401b8595dd0) format("truetype"), url(/fonts/vendor/simple-line-icons/Simple-Line-Icons.woff?78f07e2c2a535c26ef21d95e41bd7175) format("woff"), url(/fonts/vendor/simple-line-icons/Simple-Line-Icons.svg?2fe2efe63441d830b1acd106c1fe8734) format("svg");
  font-weight: normal;
  font-style: normal;
}

.icon-user,
.icon-people,
.icon-user-female,
.icon-user-follow,
.icon-user-following,
.icon-user-unfollow,
.icon-login,
.icon-logout,
.icon-emotsmile,
.icon-phone,
.icon-call-end,
.icon-call-in,
.icon-call-out,
.icon-map,
.icon-location-pin,
.icon-direction,
.icon-directions,
.icon-compass,
.icon-layers,
.icon-menu,
.icon-list,
.icon-options-vertical,
.icon-options,
.icon-arrow-down,
.icon-arrow-left,
.icon-arrow-right,
.icon-arrow-up,
.icon-arrow-up-circle,
.icon-arrow-left-circle,
.icon-arrow-right-circle,
.icon-arrow-down-circle,
.icon-check,
.icon-clock,
.icon-plus,
.icon-minus,
.icon-close,
.icon-event,
.icon-exclamation,
.icon-organization,
.icon-trophy,
.icon-screen-smartphone,
.icon-screen-desktop,
.icon-plane,
.icon-notebook,
.icon-mustache,
.icon-mouse,
.icon-magnet,
.icon-energy,
.icon-disc,
.icon-cursor,
.icon-cursor-move,
.icon-crop,
.icon-chemistry,
.icon-speedometer,
.icon-shield,
.icon-screen-tablet,
.icon-magic-wand,
.icon-hourglass,
.icon-graduation,
.icon-ghost,
.icon-game-controller,
.icon-fire,
.icon-eyeglass,
.icon-envelope-open,
.icon-envelope-letter,
.icon-bell,
.icon-badge,
.icon-anchor,
.icon-wallet,
.icon-vector,
.icon-speech,
.icon-puzzle,
.icon-printer,
.icon-present,
.icon-playlist,
.icon-pin,
.icon-picture,
.icon-handbag,
.icon-globe-alt,
.icon-globe,
.icon-folder-alt,
.icon-folder,
.icon-film,
.icon-feed,
.icon-drop,
.icon-drawer,
.icon-docs,
.icon-doc,
.icon-diamond,
.icon-cup,
.icon-calculator,
.icon-bubbles,
.icon-briefcase,
.icon-book-open,
.icon-basket-loaded,
.icon-basket,
.icon-bag,
.icon-action-undo,
.icon-action-redo,
.icon-wrench,
.icon-umbrella,
.icon-trash,
.icon-tag,
.icon-support,
.icon-frame,
.icon-size-fullscreen,
.icon-size-actual,
.icon-shuffle,
.icon-share-alt,
.icon-share,
.icon-rocket,
.icon-question,
.icon-pie-chart,
.icon-pencil,
.icon-note,
.icon-loop,
.icon-home,
.icon-grid,
.icon-graph,
.icon-microphone,
.icon-music-tone-alt,
.icon-music-tone,
.icon-earphones-alt,
.icon-earphones,
.icon-equalizer,
.icon-like,
.icon-dislike,
.icon-control-start,
.icon-control-rewind,
.icon-control-play,
.icon-control-pause,
.icon-control-forward,
.icon-control-end,
.icon-volume-1,
.icon-volume-2,
.icon-volume-off,
.icon-calendar,
.icon-bulb,
.icon-chart,
.icon-ban,
.icon-bubble,
.icon-camrecorder,
.icon-camera,
.icon-cloud-download,
.icon-cloud-upload,
.icon-envelope,
.icon-eye,
.icon-flag,
.icon-heart,
.icon-info,
.icon-key,
.icon-link,
.icon-lock,
.icon-lock-open,
.icon-magnifier,
.icon-magnifier-add,
.icon-magnifier-remove,
.icon-paper-clip,
.icon-paper-plane,
.icon-power,
.icon-refresh,
.icon-reload,
.icon-settings,
.icon-star,
.icon-symbol-female,
.icon-symbol-male,
.icon-target,
.icon-credit-card,
.icon-paypal,
.icon-social-tumblr,
.icon-social-twitter,
.icon-social-facebook,
.icon-social-instagram,
.icon-social-linkedin,
.icon-social-pinterest,
.icon-social-github,
.icon-social-google,
.icon-social-reddit,
.icon-social-skype,
.icon-social-dribbble,
.icon-social-behance,
.icon-social-foursqare,
.icon-social-soundcloud,
.icon-social-spotify,
.icon-social-stumbleupon,
.icon-social-youtube,
.icon-social-dropbox,
.icon-social-vkontakte,
.icon-social-steam {
  font-family: "simple-line-icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
  content: "\E005";
}

.icon-people:before {
  content: "\E001";
}

.icon-user-female:before {
  content: "\E000";
}

.icon-user-follow:before {
  content: "\E002";
}

.icon-user-following:before {
  content: "\E003";
}

.icon-user-unfollow:before {
  content: "\E004";
}

.icon-login:before {
  content: "\E066";
}

.icon-logout:before {
  content: "\E065";
}

.icon-emotsmile:before {
  content: "\E021";
}

.icon-phone:before {
  content: "\E600";
}

.icon-call-end:before {
  content: "\E048";
}

.icon-call-in:before {
  content: "\E047";
}

.icon-call-out:before {
  content: "\E046";
}

.icon-map:before {
  content: "\E033";
}

.icon-location-pin:before {
  content: "\E096";
}

.icon-direction:before {
  content: "\E042";
}

.icon-directions:before {
  content: "\E041";
}

.icon-compass:before {
  content: "\E045";
}

.icon-layers:before {
  content: "\E034";
}

.icon-menu:before {
  content: "\E601";
}

.icon-list:before {
  content: "\E067";
}

.icon-options-vertical:before {
  content: "\E602";
}

.icon-options:before {
  content: "\E603";
}

.icon-arrow-down:before {
  content: "\E604";
}

.icon-arrow-left:before {
  content: "\E605";
}

.icon-arrow-right:before {
  content: "\E606";
}

.icon-arrow-up:before {
  content: "\E607";
}

.icon-arrow-up-circle:before {
  content: "\E078";
}

.icon-arrow-left-circle:before {
  content: "\E07A";
}

.icon-arrow-right-circle:before {
  content: "\E079";
}

.icon-arrow-down-circle:before {
  content: "\E07B";
}

.icon-check:before {
  content: "\E080";
}

.icon-clock:before {
  content: "\E081";
}

.icon-plus:before {
  content: "\E095";
}

.icon-minus:before {
  content: "\E615";
}

.icon-close:before {
  content: "\E082";
}

.icon-event:before {
  content: "\E619";
}

.icon-exclamation:before {
  content: "\E617";
}

.icon-organization:before {
  content: "\E616";
}

.icon-trophy:before {
  content: "\E006";
}

.icon-screen-smartphone:before {
  content: "\E010";
}

.icon-screen-desktop:before {
  content: "\E011";
}

.icon-plane:before {
  content: "\E012";
}

.icon-notebook:before {
  content: "\E013";
}

.icon-mustache:before {
  content: "\E014";
}

.icon-mouse:before {
  content: "\E015";
}

.icon-magnet:before {
  content: "\E016";
}

.icon-energy:before {
  content: "\E020";
}

.icon-disc:before {
  content: "\E022";
}

.icon-cursor:before {
  content: "\E06E";
}

.icon-cursor-move:before {
  content: "\E023";
}

.icon-crop:before {
  content: "\E024";
}

.icon-chemistry:before {
  content: "\E026";
}

.icon-speedometer:before {
  content: "\E007";
}

.icon-shield:before {
  content: "\E00E";
}

.icon-screen-tablet:before {
  content: "\E00F";
}

.icon-magic-wand:before {
  content: "\E017";
}

.icon-hourglass:before {
  content: "\E018";
}

.icon-graduation:before {
  content: "\E019";
}

.icon-ghost:before {
  content: "\E01A";
}

.icon-game-controller:before {
  content: "\E01B";
}

.icon-fire:before {
  content: "\E01C";
}

.icon-eyeglass:before {
  content: "\E01D";
}

.icon-envelope-open:before {
  content: "\E01E";
}

.icon-envelope-letter:before {
  content: "\E01F";
}

.icon-bell:before {
  content: "\E027";
}

.icon-badge:before {
  content: "\E028";
}

.icon-anchor:before {
  content: "\E029";
}

.icon-wallet:before {
  content: "\E02A";
}

.icon-vector:before {
  content: "\E02B";
}

.icon-speech:before {
  content: "\E02C";
}

.icon-puzzle:before {
  content: "\E02D";
}

.icon-printer:before {
  content: "\E02E";
}

.icon-present:before {
  content: "\E02F";
}

.icon-playlist:before {
  content: "\E030";
}

.icon-pin:before {
  content: "\E031";
}

.icon-picture:before {
  content: "\E032";
}

.icon-handbag:before {
  content: "\E035";
}

.icon-globe-alt:before {
  content: "\E036";
}

.icon-globe:before {
  content: "\E037";
}

.icon-folder-alt:before {
  content: "\E039";
}

.icon-folder:before {
  content: "\E089";
}

.icon-film:before {
  content: "\E03A";
}

.icon-feed:before {
  content: "\E03B";
}

.icon-drop:before {
  content: "\E03E";
}

.icon-drawer:before {
  content: "\E03F";
}

.icon-docs:before {
  content: "\E040";
}

.icon-doc:before {
  content: "\E085";
}

.icon-diamond:before {
  content: "\E043";
}

.icon-cup:before {
  content: "\E044";
}

.icon-calculator:before {
  content: "\E049";
}

.icon-bubbles:before {
  content: "\E04A";
}

.icon-briefcase:before {
  content: "\E04B";
}

.icon-book-open:before {
  content: "\E04C";
}

.icon-basket-loaded:before {
  content: "\E04D";
}

.icon-basket:before {
  content: "\E04E";
}

.icon-bag:before {
  content: "\E04F";
}

.icon-action-undo:before {
  content: "\E050";
}

.icon-action-redo:before {
  content: "\E051";
}

.icon-wrench:before {
  content: "\E052";
}

.icon-umbrella:before {
  content: "\E053";
}

.icon-trash:before {
  content: "\E054";
}

.icon-tag:before {
  content: "\E055";
}

.icon-support:before {
  content: "\E056";
}

.icon-frame:before {
  content: "\E038";
}

.icon-size-fullscreen:before {
  content: "\E057";
}

.icon-size-actual:before {
  content: "\E058";
}

.icon-shuffle:before {
  content: "\E059";
}

.icon-share-alt:before {
  content: "\E05A";
}

.icon-share:before {
  content: "\E05B";
}

.icon-rocket:before {
  content: "\E05C";
}

.icon-question:before {
  content: "\E05D";
}

.icon-pie-chart:before {
  content: "\E05E";
}

.icon-pencil:before {
  content: "\E05F";
}

.icon-note:before {
  content: "\E060";
}

.icon-loop:before {
  content: "\E064";
}

.icon-home:before {
  content: "\E069";
}

.icon-grid:before {
  content: "\E06A";
}

.icon-graph:before {
  content: "\E06B";
}

.icon-microphone:before {
  content: "\E063";
}

.icon-music-tone-alt:before {
  content: "\E061";
}

.icon-music-tone:before {
  content: "\E062";
}

.icon-earphones-alt:before {
  content: "\E03C";
}

.icon-earphones:before {
  content: "\E03D";
}

.icon-equalizer:before {
  content: "\E06C";
}

.icon-like:before {
  content: "\E068";
}

.icon-dislike:before {
  content: "\E06D";
}

.icon-control-start:before {
  content: "\E06F";
}

.icon-control-rewind:before {
  content: "\E070";
}

.icon-control-play:before {
  content: "\E071";
}

.icon-control-pause:before {
  content: "\E072";
}

.icon-control-forward:before {
  content: "\E073";
}

.icon-control-end:before {
  content: "\E074";
}

.icon-volume-1:before {
  content: "\E09F";
}

.icon-volume-2:before {
  content: "\E0A0";
}

.icon-volume-off:before {
  content: "\E0A1";
}

.icon-calendar:before {
  content: "\E075";
}

.icon-bulb:before {
  content: "\E076";
}

.icon-chart:before {
  content: "\E077";
}

.icon-ban:before {
  content: "\E07C";
}

.icon-bubble:before {
  content: "\E07D";
}

.icon-camrecorder:before {
  content: "\E07E";
}

.icon-camera:before {
  content: "\E07F";
}

.icon-cloud-download:before {
  content: "\E083";
}

.icon-cloud-upload:before {
  content: "\E084";
}

.icon-envelope:before {
  content: "\E086";
}

.icon-eye:before {
  content: "\E087";
}

.icon-flag:before {
  content: "\E088";
}

.icon-heart:before {
  content: "\E08A";
}

.icon-info:before {
  content: "\E08B";
}

.icon-key:before {
  content: "\E08C";
}

.icon-link:before {
  content: "\E08D";
}

.icon-lock:before {
  content: "\E08E";
}

.icon-lock-open:before {
  content: "\E08F";
}

.icon-magnifier:before {
  content: "\E090";
}

.icon-magnifier-add:before {
  content: "\E091";
}

.icon-magnifier-remove:before {
  content: "\E092";
}

.icon-paper-clip:before {
  content: "\E093";
}

.icon-paper-plane:before {
  content: "\E094";
}

.icon-power:before {
  content: "\E097";
}

.icon-refresh:before {
  content: "\E098";
}

.icon-reload:before {
  content: "\E099";
}

.icon-settings:before {
  content: "\E09A";
}

.icon-star:before {
  content: "\E09B";
}

.icon-symbol-female:before {
  content: "\E09C";
}

.icon-symbol-male:before {
  content: "\E09D";
}

.icon-target:before {
  content: "\E09E";
}

.icon-credit-card:before {
  content: "\E025";
}

.icon-paypal:before {
  content: "\E608";
}

.icon-social-tumblr:before {
  content: "\E00A";
}

.icon-social-twitter:before {
  content: "\E009";
}

.icon-social-facebook:before {
  content: "\E00B";
}

.icon-social-instagram:before {
  content: "\E609";
}

.icon-social-linkedin:before {
  content: "\E60A";
}

.icon-social-pinterest:before {
  content: "\E60B";
}

.icon-social-github:before {
  content: "\E60C";
}

.icon-social-google:before {
  content: "\E60D";
}

.icon-social-reddit:before {
  content: "\E60E";
}

.icon-social-skype:before {
  content: "\E60F";
}

.icon-social-dribbble:before {
  content: "\E00D";
}

.icon-social-behance:before {
  content: "\E610";
}

.icon-social-foursqare:before {
  content: "\E611";
}

.icon-social-soundcloud:before {
  content: "\E612";
}

.icon-social-spotify:before {
  content: "\E613";
}

.icon-social-stumbleupon:before {
  content: "\E614";
}

.icon-social-youtube:before {
  content: "\E008";
}

.icon-social-dropbox:before {
  content: "\E00C";
}

.icon-social-vkontakte:before {
  content: "\E618";
}

.icon-social-steam:before {
  content: "\E620";
}

.toast-title {
  font-weight: bold;
}

.toast-message {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

.toast-message a,
.toast-message label {
  color: #ffffff;
}

.toast-message a:hover {
  color: #cccccc;
  text-decoration: none;
}

.toast-close-button {
  position: relative;
  right: -0.3em;
  top: -0.3em;
  float: right;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  -webkit-text-shadow: 0 1px 0 #ffffff;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
}

.toast-close-button:hover,
.toast-close-button:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
}

/*Additional properties for button version
 iOS requires the button element instead of an anchor tag.
 If you want the anchor version, it requires `href="#"`.*/

button.toast-close-button {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}

.toast-top-center {
  top: 0;
  right: 0;
  width: 100%;
}

.toast-bottom-center {
  bottom: 0;
  right: 0;
  width: 100%;
}

.toast-top-full-width {
  top: 0;
  right: 0;
  width: 100%;
}

.toast-bottom-full-width {
  bottom: 0;
  right: 0;
  width: 100%;
}

.toast-top-left {
  top: 12px;
  left: 12px;
}

.toast-top-right {
  top: 12px;
  right: 12px;
}

.toast-bottom-right {
  right: 12px;
  bottom: 12px;
}

.toast-bottom-left {
  bottom: 12px;
  left: 12px;
}

#toast-container {
  position: fixed;
  z-index: 999999;
  /*overrides*/
}

#toast-container * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#toast-container > div {
  position: relative;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 15px 15px 15px 50px;
  width: 300px;
  border-radius: 3px 3px 3px 3px;
  background-position: 15px center;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0 0 12px #999999;
  box-shadow: 0 0 12px #999999;
  color: #ffffff;
  opacity: 0.8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
}

#toast-container > div:hover {
  -webkit-box-shadow: 0 0 12px #000000;
  box-shadow: 0 0 12px #000000;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: alpha(opacity=100);
  cursor: pointer;
}

#toast-container > .toast-info {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVEhLtZa9SgNBEMc9sUxxRcoUKSzSWIhXpFMhhYWFhaBg4yPYiWCXZxBLERsLRS3EQkEfwCKdjWJAwSKCgoKCcudv4O5YLrt7EzgXhiU3/4+b2ckmwVjJSpKkQ6wAi4gwhT+z3wRBcEz0yjSseUTrcRyfsHsXmD0AmbHOC9Ii8VImnuXBPglHpQ5wwSVM7sNnTG7Za4JwDdCjxyAiH3nyA2mtaTJufiDZ5dCaqlItILh1NHatfN5skvjx9Z38m69CgzuXmZgVrPIGE763Jx9qKsRozWYw6xOHdER+nn2KkO+Bb+UV5CBN6WC6QtBgbRVozrahAbmm6HtUsgtPC19tFdxXZYBOfkbmFJ1VaHA1VAHjd0pp70oTZzvR+EVrx2Ygfdsq6eu55BHYR8hlcki+n+kERUFG8BrA0BwjeAv2M8WLQBtcy+SD6fNsmnB3AlBLrgTtVW1c2QN4bVWLATaIS60J2Du5y1TiJgjSBvFVZgTmwCU+dAZFoPxGEEs8nyHC9Bwe2GvEJv2WXZb0vjdyFT4Cxk3e/kIqlOGoVLwwPevpYHT+00T+hWwXDf4AJAOUqWcDhbwAAAAASUVORK5CYII=") !important;
}

#toast-container > .toast-error {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHOSURBVEhLrZa/SgNBEMZzh0WKCClSCKaIYOED+AAKeQQLG8HWztLCImBrYadgIdY+gIKNYkBFSwu7CAoqCgkkoGBI/E28PdbLZmeDLgzZzcx83/zZ2SSXC1j9fr+I1Hq93g2yxH4iwM1vkoBWAdxCmpzTxfkN2RcyZNaHFIkSo10+8kgxkXIURV5HGxTmFuc75B2RfQkpxHG8aAgaAFa0tAHqYFfQ7Iwe2yhODk8+J4C7yAoRTWI3w/4klGRgR4lO7Rpn9+gvMyWp+uxFh8+H+ARlgN1nJuJuQAYvNkEnwGFck18Er4q3egEc/oO+mhLdKgRyhdNFiacC0rlOCbhNVz4H9FnAYgDBvU3QIioZlJFLJtsoHYRDfiZoUyIxqCtRpVlANq0EU4dApjrtgezPFad5S19Wgjkc0hNVnuF4HjVA6C7QrSIbylB+oZe3aHgBsqlNqKYH48jXyJKMuAbiyVJ8KzaB3eRc0pg9VwQ4niFryI68qiOi3AbjwdsfnAtk0bCjTLJKr6mrD9g8iq/S/B81hguOMlQTnVyG40wAcjnmgsCNESDrjme7wfftP4P7SP4N3CJZdvzoNyGq2c/HWOXJGsvVg+RA/k2MC/wN6I2YA2Pt8GkAAAAASUVORK5CYII=") !important;
}

#toast-container > .toast-success {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADsSURBVEhLY2AYBfQMgf///3P8+/evAIgvA/FsIF+BavYDDWMBGroaSMMBiE8VC7AZDrIFaMFnii3AZTjUgsUUWUDA8OdAH6iQbQEhw4HyGsPEcKBXBIC4ARhex4G4BsjmweU1soIFaGg/WtoFZRIZdEvIMhxkCCjXIVsATV6gFGACs4Rsw0EGgIIH3QJYJgHSARQZDrWAB+jawzgs+Q2UO49D7jnRSRGoEFRILcdmEMWGI0cm0JJ2QpYA1RDvcmzJEWhABhD/pqrL0S0CWuABKgnRki9lLseS7g2AlqwHWQSKH4oKLrILpRGhEQCw2LiRUIa4lwAAAABJRU5ErkJggg==") !important;
}

#toast-container > .toast-warning {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGYSURBVEhL5ZSvTsNQFMbXZGICMYGYmJhAQIJAICYQPAACiSDB8AiICQQJT4CqQEwgJvYASAQCiZiYmJhAIBATCARJy+9rTsldd8sKu1M0+dLb057v6/lbq/2rK0mS/TRNj9cWNAKPYIJII7gIxCcQ51cvqID+GIEX8ASG4B1bK5gIZFeQfoJdEXOfgX4QAQg7kH2A65yQ87lyxb27sggkAzAuFhbbg1K2kgCkB1bVwyIR9m2L7PRPIhDUIXgGtyKw575yz3lTNs6X4JXnjV+LKM/m3MydnTbtOKIjtz6VhCBq4vSm3ncdrD2lk0VgUXSVKjVDJXJzijW1RQdsU7F77He8u68koNZTz8Oz5yGa6J3H3lZ0xYgXBK2QymlWWA+RWnYhskLBv2vmE+hBMCtbA7KX5drWyRT/2JsqZ2IvfB9Y4bWDNMFbJRFmC9E74SoS0CqulwjkC0+5bpcV1CZ8NMej4pjy0U+doDQsGyo1hzVJttIjhQ7GnBtRFN1UarUlH8F3xict+HY07rEzoUGPlWcjRFRr4/gChZgc3ZL2d8oAAAAASUVORK5CYII=") !important;
}

#toast-container.toast-top-center > div,
#toast-container.toast-bottom-center > div {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

#toast-container.toast-top-full-width > div,
#toast-container.toast-bottom-full-width > div {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}

.toast {
  background-color: #030303;
}

.toast-success {
  background-color: #51a351;
}

.toast-error {
  background-color: #bd362f;
}

.toast-info {
  background-color: #2f96b4;
}

.toast-warning {
  background-color: #f89406;
}

.toast-progress {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  background-color: #000000;
  opacity: 0.4;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
}

/*Responsive Design*/

@media all and (max-width: 240px) {
  #toast-container > div {
    padding: 8px 8px 8px 50px;
    width: 11em;
  }

  #toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}

@media all and (min-width: 241px) and (max-width: 480px) {
  #toast-container > div {
    padding: 8px 8px 8px 50px;
    width: 18em;
  }

  #toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}

@media all and (min-width: 481px) and (max-width: 768px) {
  #toast-container > div {
    padding: 15px 15px 15px 50px;
    width: 25em;
  }
}

.toast-success {
  background-color: #1abc9c;
}

