.btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  background-color: #fff;
  border: none;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  border: none;
  border-radius: $radius;
  @include transition(0.15s);

  &:disabled {
    opacity: 0.65;
  }

  &:not(:disabled) {
    cursor: pointer;
  }
  
  &--primary {
    color: #fff;
    background-color: $primary;

    &:hover {
      color: #fff;
      background-color: lighten($primary, 3%);
    }

    &:focus {
      background-color: darken($primary, 3%);
    }
  }

  &--secondary {
    color: #fff;
    background-color: $secondary;

    &:hover {
      color: #fff;
      background-color: lighten($secondary, 3%);
    }

    &:focus {
      background-color: darken($secondary, 3%);
    }
  }

  &--success {
    color: #fff;
    background-color: $success;

    &:hover {
      color: #fff;
      background-color: lighten($success, 3%);
    }

    &:focus {
      background-color: darken($success, 3%);
    }
  }

  &--info {
    color: #fff;
    background-color: $info;

    &:hover {
      color: #fff;
      background-color: lighten($info, 3%);
    }

    &:focus {
      background-color: darken($info, 3%);
    }
  }

  &--warning {
    color: #fff;
    background-color: $warning;

    &:hover {
      color: #fff;
      background-color: lighten($warning, 3%);
    }

    &:focus {
      background-color: darken($warning, 3%);
    }
  }

  &--danger {
    color: #fff;
    background-color: $danger;

    &:hover {
      color: #fff;
      background-color: lighten($danger, 3%);
    }

    &:focus {
      background-color: darken($danger, 3%);
    }
  }

  &--light {
    color: $light-blue-color;

    &:hover {
      color: $light-blue-color;
      background-color: $light;
    }

    &:focus {
      background-color: darken($light, 3%);
    }
  }

  &--small {
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
    border-radius: 0.2rem;
  }

  .btn__text {
    margin-right: 0.25rem;
  }
}
