.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(#000, 0.5);
  @include transition(0.3s);
}

.modal__content {
  position: relative;
  min-width: 300px;
  width: auto;
  padding: 2rem;
  background-color: #fff;
  border-radius: $radius;
  box-shadow: 0 0.125rem 0.25rem rgba(#000, 0.1);
  @include transition(0.3s);
}

.modal__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  color: $light-blue-color;

  &:hover {
    color: $dark-blue-color !important;
    cursor: pointer;
  }
}

.modal__body {
  margin: 1rem 0;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal__content,
.modal-leave-active .modal__content {
  transform: scale(1.1);
}
