@mixin box-shadow($alpha) {
	box-shadow: 0 1rem 5rem -1rem rgba(#000, $alpha);
}

@mixin transition($duration) {
	transition: all $duration ease-in-out;
}

@mixin pseudo-element {
	content: '';
	position: absolute;
}

@mixin circle($width, $height) {
	width: $width;
	height: $height;
	border-radius: 50%;
}

@mixin flex-center {
	align-items: center;
	display: flex;
	justify-content: center;
}

@mixin input-placeholder($color) {
	&::-webkit-input-placeholder {
		color: $color;
	}
	&:-moz-placeholder {
		color: $color;
		opacity: 1;
	}
	&::-moz-placeholder {
		color: $color;
		opacity: 1;
	}
	&:-ms-input-placeholder {
		color: $color;
	}
	&::-ms-input-placeholder {
		color: $color;
	}
	&::placeholder {
		color: $color;
	}
}
