$radius: 0.25rem;

// Color
$primary: #27A9F8;
$secondary: #7f8c8d;
$success: #27ae60;
$info: #4b7bec;
$warning: #ff793f;
$danger: #eb3b5a;
$cyan: #00cec9;
$divider: #e9ecef;

$darken: #34495e;
$darken-color: #1c2951;
$medium-color: #4d516c;
$lighten: #7285a5;
$border-color: #d3e0e9;
$main: #8D89AA;
$background: #211F39;
