.aside {
	width: 15rem;
	background-color: #130f40;
	@include transition(0.3s);
}

.navbar {
	margin: 3.5rem 0;

	&__section:not(:last-child) {
		margin-bottom: 1.5rem;
	}

	&__heading {
		margin: 0.75rem 2rem;
		font-weight: 500;
		color: #474787;
	}

	&__link {
		display: flex;
		align-items: center;
		padding: 0.75rem 2.5rem;
		color: #474787;
		transition: padding 0.3s ease-in-out, background-color 0.15s ease-in-out, color 0.15s ease-in-out;

		&:hover {
			color: lighten(#474787, 15%);
			background-color: rgba(#474787, 0.1);
		}

		&.router-link-active {
			position: relative;
			color: lighten(#474787, 15%);
			background-color: rgba(#474787, 0.1);

			&::before {
				@include pseudo-element;
				top: 0;
				left: 0;
				width: 0.25rem;
				height: 100%;
				background-color: lighten(#474787, 15%);
			}
		}

		.fal {
			font-size: 1.5rem;
		}
	}

	&__text {
		margin-left: 1rem;
	}
}

@media (min-width: 992px) {
	.aside {
		border-top-left-radius: $radius;
		border-bottom-left-radius: $radius;

		.mini-aside & {
			width: auto;
		}
	}

	.mini-aside .navbar {
		&__section {
			margin-bottom: 0;
		}

		&__heading {
			display: none;
		}

		&__link {
			padding: 1rem;

			&.router-link-active::before {
				content: none;
			}
		}

		&__text {
			display: none;
		}
	}
}

@media (max-width: 991px) {
	.aside {
		position: fixed;
		z-index: 2;
		height: 100vh;
		background-color: #fff;
		transform: translateX(-100%);

		&:hover {
			overflow-y: auto;
		}

		&.aside--mobile {
			transform: translateX(0);
		}
	}

	.navbar {
		&__heading,
		&__link {
			color: $lighten;
		}

		&__link {
			&:hover,
			&.router-link-active {
				color: darken($lighten, 15%);
				background-color: rgba($lighten, 0.15);

				&::before {
					background-color: $lighten;
				}
			}
		}
	}
}
