.aside {
	width: 15rem;
	background-color: #fff;
	@include transition(0.3s);
}

.logo {
	display: flex;
	align-items: center;
	height: 3.5rem;
	padding: 0 2rem;

	&__image {
		width: 1.5rem;
	}

	&__text {
		margin-left: 0.5rem;
		font-weight: 500;
		color: $primary;
	}
}

.navbar {
	padding-bottom: 3.5rem;

	&__heading {
		padding: 1.5rem 2rem;
		font-weight: 500;
		color: #434F74;
	}

	&__link {
		display: flex;
		align-items: center;
		padding: 0.75rem 2.25rem;
		color: #959FBB;
		transition: padding 0.3s ease-in-out, color 0.15s ease-in-out, background-color 0.15s ease-in-out;

		&:hover {
			color: #EF5F91;
		}

		&.router-link-active {
			position: relative;
			color: #EF5F91;

			&::before {
				@include pseudo-element;
				top: 0;
				left: 0;
				width: 0.25rem;
				height: 100%;
				// background-color: #EF5F91;
			}
		}
	}

	&__text {
		margin-left: 1rem;
	}
}

@media (min-width: 992px) {
	.aside {
		border-top-left-radius: $radius;
		border-bottom-left-radius: $radius;

		.mini-aside & {
			width: auto;
		}
	}

	.mini-aside {
		.logo {
			justify-content: center;
			padding: 0;

			&__text {
				display: none;
			}
		}

		.navbar {
			&__section {
				margin-top: 0;
			}

			&__heading {
				display: none;
			}

			&__link {
				padding: 1rem;

				&.router-link-active::before {
					content: none;
				}
			}

			&__text {
				display: none;
			}
		}
	}
}

@media (max-width: 991px) {
	.aside {
		position: fixed;
		z-index: 2;
		height: 100vh;
		background-color: #fff;
		transform: translateX(-100%);

		&:hover {
			overflow-y: auto;
		}

		&.aside--mobile {
			transform: translateX(0);
		}
	}

	.navbar {
		&__heading,
		&__link {
			color: $lighten;
		}

		&__link {
			&:hover,
			&.router-link-active {
				color: darken($lighten, 15%);
				background-color: rgba($lighten, 0.15);

				&::before {
					background-color: $lighten;
				}
			}
		}
	}
}
