.checkbox {
	@include flex-column;

	&__group:not(:last-child) {
		margin-bottom: 1rem;
	}
}

input[type='checkbox'] {
	display: none;

	& + label {
		position: relative;
		display: block;
		cursor: pointer;
		padding-left: 1.5rem;

		.datatable & {
			padding-left: 0;
			@include square(1rem);
		}
	}

	& + label::before {
		top: 2.5px;
		left: 0;
		@include border;
		@include border-radius;
		@include pseudo-element;
		@include square(1rem);
		@include transition(.15s);

		.datatable & {
			top: 0;
		}
	}

	&:checked + label::before {
		border-color: $main;
		background-color: $main;
	}

	& + label::after {
		top: 6px;
		left: 2px;
		width: 12px;
		height: 6px;
		border-left: 2px solid transparent;
		border-bottom: 2px solid transparent;
		transform: rotate(-45deg) scale(0);
		@include pseudo-element;
		@include transition(.3s);

		.datatable & {
			top: 3.5px;
		}
	}

	&:checked + label::after {
		border-color: #fff;
		transform: rotate(-45deg) scale(1);
	}
}
