.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

@media (min-width:576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width:768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width:992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width:1200px) {
  .container {
    max-width: 1140px;
  }
}

.row {
  margin-right: -1rem;
  margin-left: -1rem;
  @include flex-wrap;

  &--center {
    justify-content: center;
  }

  &--between {
    justify-content: space-between;
  }
}

.col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
  width: 100%;
  padding: 1rem;
}

@media (min-width: 1200px) {
  .col-xl-1 {
    flex: 0 0 8.333333%;
  }
  .col-xl-2 {
    flex: 0 0 16.666667%;
  }
  .col-xl-3 {
    flex: 0 0 25%;
  }
  .col-xl-4 {
    flex: 0 0 33.333333%;
  }
  .col-xl-5 {
    flex: 0 0 41.666667%;
  }
  .col-xl-6 {
    flex: 0 0 50%;
  }
  .col-xl-7 {
    flex: 0 0 58.333333%;
  }
  .col-xl-8 {
    flex: 0 0 66.666667%;
  }
  .col-xl-9 {
    flex: 0 0 75%;
  }
  .col-xl-10 {
    flex: 0 0 83.333333%;
  }
  .col-xl-11 {
    flex: 0 0 91.666667%;
  }
  .col-xl-12 {
    flex: 0 0 100%;
  }
}
