.modal {
  z-index: 1050;
  transform: scale(1.1);
  background-color: rgba(#000, .5);
  @include flex-center;
  @include position-fixed;
  @include transition(.15s);
  @include visibility(hidden);

  &.show {
    transform: scale(1);
    @include visibility(visible);
  }

  &__content {
    margin: 1rem;
    background-color: #fff;
    @include border-radius;
    @include box-shadow(.1);
    @include flex-column;
    flex: auto;
  }

  &__header {
    font-weight: bold;
    padding: 1rem;
    @include flex-between;
  }

  &__close {
    display: flex;
    opacity: .5;
    color: $dark;

    &:hover {
      opacity: 1;
    }

  }

  &__body {
    padding: 1rem;
  }

  &__footer {
    padding: 1rem;
    @include flex-end;

    button:first-child {
      margin-right: .5rem;
    }
  }
}

@media (min-width:576px) {
  .modal__content {
    width: 500px;
    flex: inherit;
  }
}
