.pagination {
	display: flex;

	&__link {
		min-width: 2.5rem;
		height: 2.5rem;
		padding: 0 1rem;
		@include flex-center;

		&:hover {
			background-color: rgba($main, .05);
		}

		&:active {
			background-color: rgba($main, .1);
		}

		.pagination__item.active & {
			pointer-events: none;
			color: #fff;
			background-color: $main;
		}

		.pagination__item.disabled & {
			@include disable;
		}
	}
}

@media (max-width:575px) {
	.pagination__item:not(.active):not(:first-child):not(:last-child) {
		display: none;
	}
}
