.tooltip {
	position: relative;


	&__content {
		font-size: $font-size - 2;
		line-height: 1.5rem;
		position: absolute;
		z-index: 1070;
		height: 1.5rem;
		padding: 0 .5rem;
		white-space: nowrap;
		color: #fff;
		background-color: $dark;
		@include border-radius;
		@include transition(.15s);
		@include visibility(hidden);

		.tooltip:hover &,
		.tooltip:focus & {
			@include visibility(visible);
		}

		&::before {
			border-width: 4px;
			border-style: solid;
			border-color: transparent;
			@include pseudo-element;
		}

		.tooltip--top & {
			bottom: calc(100% + .5rem);
			left: 50%;
			transform: translateX(-50%);

			&::before {
				top: 100%;
				left: 50%;
				margin-left: -4px;
				border-top-color: $dark;
			}

		}

		.tooltip--right & {
			top: 50%;
			left: calc(100% + .5rem);
			transform: translateY(-50%);

			&::before {
				top: 50%;
				right: 100%;
				margin-top: -4px;
				border-right-color: $dark;
			}

		}

		.tooltip--bottom & {
			top: calc(100% + .5rem);
			left: 50%;
			transform: translateX(-50%);

			&::before {
				bottom: 100%;
				left: 50%;
				margin-left: -4px;
				border-bottom-color: $dark;
			}

		}

		.tooltip--left & {
			top: 50%;
			right: calc(100% + .5rem);
			transform: translateY(-50%);

			&::before {
				top: 50%;
				left: 100%;
				margin-top: -4px;
				border-left-color: $dark;
			}
		}
	}
}
