* {
	outline: none !important;
}

body {
	font-size: 14px;
	background-color: $body-bg;
	color: $light-blue-color;
}

a {
	@include transition(0.15s);

	&:hover {
		text-decoration: none;
		color: inherit;
	}
}

ul {
	list-style: none;
	margin-bottom: 0;
	padding-left: 0;
}

main {
	margin-top: calc(51px + 2rem);
}

.category {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	&__item {
		padding: 1rem;
	}

	&__link {
		color: $light-blue-color;
		text-transform: uppercase;
	}
}
