* {
  outline: none !important;
}

body {
  font-size: 0.875rem;
  line-height: 1;
  color: $main;
}

ol,
ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

a {
  @include transition(0.15s);

  &:hover {
    text-decoration: none;
  }
}

.background {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#app {
  @include transition(0.3s);
}

.wrapper {
  display: flex;
  box-shadow: 0 1rem 2rem rgba(#000, 0.2);
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #211F39;
  @include transition(0.3s);

  .mini-aside & {
    width: 100%;
  }
}

main {
  padding: 3rem;
}

.grid {
  // display: grid;
  // display: -ms-grid;
  // grid-template-columns: 1fr 1fr 1fr;
  // -ms-grid-columns: 1fr 1fr 1fr;


}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;  

  &__main-title {
    font-size: 1.5rem;
    font-weight: 500;
  }

  &__sub-title {
    color: $medium-color;
  }

  &__icon {
    margin: 1rem 0;

    i {
      font-size: 3rem;
    }
  }

  &__description {
    color: $lighten;
    text-align: center;
    margin-bottom: 1rem;
  }
}

.avatar {
  margin-bottom: 0;

  img {
    border-radius: 50%;
    object-fit: cover;
  }
}

.badge {
  padding: 0 0.5rem;
  line-height: 1.6;
  border-radius: $radius;
  font-size: 85%;

  &--primary {
    color: #fff;
    background-color: $primary;
  }
}

.text {
  &-primary {
    color: $primary;
  }
  
  &-danger {
    color: $danger;
  }
}

@media (min-width: 992px) {
  #app {
    padding: 3.5rem;
  }

  .content {
    border-top-right-radius: $radius;
    border-bottom-right-radius: $radius;
  }
}

@media (max-width: 991px) {
  .content {
    width: 100%;
    min-height: 100vh;
  }

  main {
    margin-top: 3.5rem;
  }
}
