.product {
	&__list {
		display: grid;
		display: -ms-grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		-ms-grid-columns: 1fr 1fr 1fr 1fr;
		grid-gap: 2rem;
	}

	&__item {
		border-radius: $radius;
		background-color: #fff;
		@include box-shadow(0.1);
	}

	&__link {
		display: block;
		padding: 1rem;
	}

	&__promotion {
		display: inline-block;
		padding: 0.25rem 0.5rem;
		background-color: $danger;
		border-radius: $radius;
		color: #fff;
	}

	&__image {
		width: 100%;
	}

	&__info {
		display: flex;
		flex-direction: column;
	}

	&__category {
		color: $light-blue-color;
	}

	&__name {
		margin: 0.25rem 0;
		color: $primary;
	}

	&__review-wrap {
		display: flex;
		align-items: center;
		margin-bottom: 1rem;
	}

	&__rating {
		font-size: 12px;
		color: $warning;
	}

	&__review {
		margin-left: 0.5rem;
		font-size: 12px;
		color: $light-blue-color;
	}

	&__price {
		display: flex;
		flex-wrap: wrap;
	}

	&__promotion-price {
		margin-right: 0.5rem;
		font-weight: 500;
		color: $dark-blue-color;
	}

	&__initial-price {
		text-decoration: line-through;
		color: $light-blue-color;
	}
}

@media (max-width: 991px) {
	.product__list {
		grid-template-columns: 1fr 1fr 1fr;
		-ms-grid-columns: 1fr 1fr 1fr;
	}
}

@media (max-width: 767px) {
	.product__list {
		grid-template-columns: 1fr 1fr;
		-ms-grid-columns: 1fr 1fr;
		grid-gap: 1rem;
	}	
}
