.login-heading {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.auth-title {
	font-size: 21px;
	font-weight: 500;
	color: $dark-blue-color;
	text-transform: uppercase;
}


.forgot-password,
.suggested {
	display: block;
	color: $light-blue-color;
	text-align: center;
}

.forgot-password {
	margin-bottom: 1rem;

	&:hover {
		text-decoration: underline;
	}
}
