.avatar {
	border-radius: 50%;
}

.divider-vertical {
	width: 1px;
	height: 1rem;
	margin: 0 1rem;
	background-color: $border-color;
}

.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1040;
	background-color: rgba(#000, 0.5);
}

.grid {
	display: grid;
	display: -ms-grid;
	grid-template-columns: 1fr 10fr 1fr;
	-ms-grid-columns: 1fr 10fr 1fr;
}

.container {
	grid-column: 2;
	-ms-grid-column: 2;
}
