// Base
$primary: #27A9F8;
$secondary: #7f8c8d;
$success: #27ae60;
$info: #4b7bec;
$warning: #ff793f;
$danger: #eb3b5a;

// Background
$body-bg: #f5f8fa;
$divider-bg: #e9ecef;

// Typography
$text-color: #6C7684;
$link-color: #7285a5;
$link-hover: #4d516c;
$link-active: #1c2951;

// Border
$border-color: #d3e0e9;
$radius: 0.25rem;
