// Base
$primary: #27A9F8;
$secondary: #7f8c8d;
$success: #27ae60;
$info: #4b7bec;
$warning: #f39c12;
$danger: #eb3b5a;

// Background
$body-bg: #f5f8fa;
$divider-bg: #e9ecef;

// Typography
$light-blue-color: #7285a5;
$dark-blue-color: #4d516d;
$placeholder-color: #6c757d;

// Border
$border-color: #d3e0e9;
$radius: 0.25rem;
